/* GLOBAL */

html, body {
    background-color: black;
    color: cornsilk;
    font-family: Arial, Helvetica, sans-serif;
}

.text-shadow {
    text-shadow: 1px 1px 6px rgb(0, 12, 14);
}

/* NAV */

.nav-link {
    color: cornsilk;
    font-size: 23px;
}

.nav-link:hover {
    color: rgb(21, 211, 223);
    border-bottom: 1px solid rgb(21, 211, 223);
}

.nav-border {
    border-top: 2px solid rgb(21, 211, 223);
    border-bottom: 1px solid rgb(19, 18, 18);
}

/* END NAV */

/* Weather */

.city {
    font-size: 35px;
}

.date {
    font-size: 15px;
    font-weight: 300;
    color: rgb(172, 166, 166);
    text-shadow: 1px 1px 1px rgb(19, 18, 18);
}

.current-icon {
    max-width: 50px;
    max-height: 50px;
}

/* .stats {
    font-weight: 300;
    font-size: 25px;
    font-variant-caps: all-small-caps;
    overflow: hidden;
    text-shadow: 1px 1px 2px rgb(19, 19, 18);
} */

.stats-stat {
    font-variant: normal;
}

.weather-div {
    background-color: rgb(12, 11, 11);
    border: 1px solid rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    margin: 5px;
    /* box-shadow: rgba(23, 162, 184, 0.2) 0px 5px 24px; */
}

.conditions-list {
    background-color: rgb(12, 11, 11);
    color: cornsilk;
    font-size: 15px;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    line-height: 1.25;
}

.temp {
    font-size: 45px;
    font-weight: 400;
}

.condition-badge {
    font-size: 20px;
    font-weight: 400;
    background-color: rgba(187, 67, 247, .9);
}

.hourly {
    font-size: 25px;
    text-decoration: rgba(156, 152, 158, 0.2) underline;
}

.float-weather {
    background-image: url("");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 350px;
    overflow: hidden;
    max-height: 500px;
}

.sun {
    font-size: 15px;
    font-weight: 300;
}

.wind {
    font-size: 25px;
    background-color: rgba(0, 0, 0, 0.3);
    width: fit-content;
}

.uvi-badge {
    font-size: 15px;
    font-weight: 400;
    background-color: rgba(187, 67, 247, .9);
}

.hourly-time {
    font-size: 15px;
}

.hourly-div {
    background-color: rgb(12, 11, 11);
    border: 1px solid rgba(156, 152, 158, 0.2);
    border-radius: 10px;
    padding: 3px;
}

.hourly-list {
    background-color: rgba(0, 0, 0);
    color: cornsilk;
    font-size: smaller;
    text-align: center;
    padding: 5px;
    overflow: hidden;
}

.border-list {
    border-bottom: 0px solid rgba(187, 67, 247, 0.9);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.btn, .btn:active, .btn:hover {
    background-color: black;
    color: cornsilk;
    text-shadow: 1px 1px 1px rgb(19, 18, 18);
    border: 1px solid rgba(187, 67, 247, 0.9);
}

.ac-itm, .ac-itm:active {
    background-color: rgb(22, 22, 22);
    color: cornsilk;
    border: none;
}

.closer:hover {
    font-size: larger;
    color: crimson;
}

.background {
    background-color: rgb(0, 0, 0);
}

.med-icon {
    max-height: 100px;
    object-fit: contain;
}

.ext-med-icon {
    height: 60px;
    object-fit: contain;
}

.fit {
    max-width: 95%;
    overflow: hidden;
}

.fit-2 {
    max-width: 80%;
}

.over {
    overflow: hidden;
}
.cur-icon {
    height: 75px;
    object-fit: contain;
}

/* 5 day */

.forecast-title {
    font-size: 30px;
    font-weight: 400;
    text-decoration: rgb(21, 211, 223) underline;
}

.five-day {
    height: auto;
}

.forecast-icon {
    height: 250px;
    object-fit: fill;
}

.fcast-hr {
    font-size: 16px;
    font-weight: 200;
    border-radius: 5px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
}

.drop-btn {
    background-color: rgba(0, 0, 0, 1);
    border: none;
}

.drop-btn:hover, .drop-btn:active, .drop-btn:current {
    background-color: rgba(0, 0, 0, 1);
    border: none;
}

.condition1-badge {
    font-size: 15px;
    font-weight: 300;
    background-color: rgba(187, 67, 247, 0.8);
    text-shadow: 1px 1px black;
}

.condition-badge-current {
    font-size: 12px;
    font-weight: 300;
    background-color: rgba(187, 67, 247, 0.5);
    text-shadow: 1px 1px 1px black;
    overflow: hidden;
}

.green {
    background-color: rgb(0, 128, .6);
}

.yellow {
    background-color: rgb(255, 255, .6);
    color: black;
}

.orange {
    background-color: rgb(255, 165, 0.6);
}

.red {
    background-color: rgba(255, 0, 0,.6);
}

.indigo {
    background-color: rgba(141, 0, 146,.7);
}

.black{
    background-color: black;
}
.blue{
    background-color:rgba(21, 211, 223,.7);
}
.progress-bg{
    background-color: rgb(12, 11, 11);
}

.iMG{
    height: 50px;
    object-fit: fill;
    margin: auto;
}
.iMG-s{
    height: 65px;
    object-fit: fill;
    margin: auto;
}